body {
  font-family: Helvetica;
}

.content-block {
  float: left;
  margin: 15px;
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 5px;
}

td.vote-count, td.average-distance {
  text-align: right;
}

tr.row-even {
  background: #ccc;
} 

tr.row-odd {
  background: #ddd;
} 

td.candidate-cell {
  text-align: center;
}
